@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html, body {
  margin: 0;
  font-family: 'Roboto', serif;
  background-color: #253341;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
* {
  box-sizing: border-box;
}

a{
  text-decoration: none;
}